<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
    <!-- Include Bootstrap CSS link here -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Include your custom CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   
</head>
<body>
    <!-- Navigation bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Movies</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
            </li>
            <!-- Add more navigation links as needed -->
        </ul>
        <form class="form-inline ml-3" action="{{ url_for('index') }}" method="get"> <!-- Modified form element -->
            <input class="form-control mr-sm-2 search-input" type="search" name="q" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>


    <div class="container mt-4">
        <h1 class="text-center mb-4">Movie List</h1>
        <div class="row">
            {% for movie in movies %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        {% if movie._source.poster %}
                        <img src="https://www.themoviedb.org/t/p/w1280/{{ movie._source.poster }}" class="card-img-top" alt="{{ movie._source.title }}">
                        {% else %}
                        <div class="no-poster">
                            <p>No poster available</p>
                        </div>
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ movie._source.title }}</h5>
                            <p class="card-text">{{ movie._source.overview }}</p>
                            <p class="mb-1"><strong>Original Language:</strong> {{ movie._source.original_language }}</p>
                            <p class="mb-1"><strong>Popularity:</strong> {{ movie._source.popularity }}</p>
                            <p class="mb-1"><strong>Release Date:</strong> {{ movie._source.release_date }}</p>
                            <p class="mb-1"><strong>Vote Count:</strong> {{ movie._source.vote_count }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Include Bootstrap JS and other scripts here -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>